.daily-forecast-section {
  border: 0.5px solid #fff;
  border-radius: 1rem;
  background-color: #000000b2;
  margin-top: 1.5rem;
}

.overflow-div2 {
  width: 112.5rem;
  margin-top: 0;
}

.daily-forecast {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  margin: 0;
}

.daily-forecast-heading {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  height: 1.2rem;
}

.daily-forecast-heading p {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding-top: 8px;
}

.header-icon {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.daily-conditions {
  position: absolute;
  color: #fff;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  white-space: nowrap;
  margin-bottom: -3rem;
  text-align: center;
  width: 10rem;
}

.daily-icons {
  width: 3rem;
  padding-right: 7.7rem;
  padding-left: 0.5rem;
  margin-top: 2rem;
}

.daily-icon {
  position: relative;
}

.daily-condition {
  position: relative;
  height: 2rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.chart {
  margin: 0;
}
