.hourly-forecast-section {
  border: 0.5px solid #fff;
  border-radius: 1rem;
  background-color: #000000b2;
}

.hourly-forecast-heading {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  height: 1.2rem;
}

.hourly-forecast-heading p {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding-top: 5px;
}

.header-icon {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.hourly-icons {
  width: 3rem;
  padding: 0;
  margin-top: 2rem;
}

.hourly-icon {
  position: relative;
  margin-bottom: -4rem;
}

.overflow-div {
  width: 1200px;
  height: 80%;
}

.hourly-forecast {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  margin: auto;
}

.chart {
  margin: 0;
}
