.summary {
  border: 0.5px solid #fff;
  border-radius: 1rem;
  margin: 1rem;
  padding-left: 1rem;
  background-color: #000000c9;
  text-align: left;
}

.summary-temperature {
  font-size: 4rem;
  margin: 0;
  line-height: 5.2rem;
}

.tm {
  display: flex;
}

.tm img {
  margin-left: 15%;
  width: 4.8rem;
  height: 4.8rem;
}

.now {
  font-size: 1.8rem;
  line-height: 0.8rem;
  color: gold;
}

.summary-icon {
  font-size: 2.5rem;
  margin-right: 1rem;
}

.location {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}

.date {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-top: -1rem;
  padding: 0;
  line-height: 0.5rem;
}
