@import url("https://fonts.googleapis.com/css2?family=Kenia&family=Montserrat&family=Rajdhani&family=Roboto+Slab&display=swap");

body {
  background-image: url('./assets/bg-1.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed; /* This keeps the background fixed while scrolling */
  background-size: cover;
  color: #fff;
  margin: 0;
  font-family: Rajdhani, sans-serif;
  height: 100vh; /* Set body height to the full viewport height */
  scroll-behavior: smooth;
}
